<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Application post template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{/css/formstyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/navigation.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/viewApplicants.css}">
    <script th:src="@{/javascript/topnavscript.js}"></script>
</head>

<body>
    <header style="height: 60px; width:100%; display:block">
        <nav class="topnav">
            <h1 class=" title"><strong>MyTutorApp</strong></h1>
            <div class="dropdown">
                <button class="icon1" onclick="show_hide()">
                    <div class="profile-area">
                        <span th:text="${session.myUsername}" class="user"></span>
                    </div>
                    <div class="profile-area">
                        <img th:src="@{/images/login.png}" class="profile">
                    </div>

                </button>
                <div id="list-items">
                    <a id="logoutLink" href="#" onclick="submitLogout()">Logout</a>
                    <form id="logoutForm" th:action="@{/logout}" method="post">
                        <input type="hidden" />
                    </form>
                    <a href="/user/change/details">Change Details</a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <nav class="select">
            <div class="toggle"><a href="#"><ion-icon name="menu-outline"></ion-icon></a></div>
            <ul class="menu">
                <li><a href="/admin/homepage" class="item"><i class="fa fa-home"></i></a></li>
                <li><a href="/admin/manage/course" class="item">Manage Courses</a></li>
                <li><a href="/admin/manage/users" class="item">Manage Users</a></li>
                <li><a href="/admin/create/post" class="item"> Create Posts</a></li>
                <li><a href="/admin/manage/applicants" class="item">Manage Applicants</a></li>
                <li><a href="/admin/view/applicant" class="item">View Applicants</a></li>
                <li><a href="/admin/view/tables" class="item">View Tables</a></li>
                <li><a href="/admin/view/reports" class="item">System Reports</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <h2 class="heading-important">New Application Post</h2>
    </div>
    <div class="group">
        <pre class="error-post" id="errorMessage" th:text="${session.errorMessage}"></pre>
        <pre class="result-post" id="results" th:text="${session.resultMessage}"></pre>
    </div>
    <!--the change to commita-->
    <div class="create-user">
        <form th:action="@{/admin/new/post}" th:object="${ApplicationPostForm}" method="post">
            <div class="create-post">
                <label class="form-label"><input type="radio" name=role th:field="*{role}" text="Tutor" value="Tutor"
                        required>
                    Tutor</label>
                <label class="form-label"><input type="radio" name=role th:field="*{role}" text="Teaching Assist"
                        value="TA" required>
                    TA</label>
            </div>
            <div class="create-post">
                <label class="form-label" for="applicationPostId">Post Identifier:</label>
                <input class="form-text" type="text" id="applicationPostId" th:field="*{applicationPostId}"
                    placeholder="CSC2023" required />
            </div>
            <div class="create-post">
                <label class="form-label" for="department">Department:</label>
                <input class="form-text" type="text" id="department" th:field="*{department}"
                    placeholder="Computer Science" required />
            </div>
            <div class="create-post">
                <label class="form-label" for="openDate">Open Date:</label>
                <input class="form-text" type="date" id="openDate" th:field="*{openDate}" value="2023-12-31" required />
            </div>
            <div class="create-post">
                <label class="form-label" for="closingDate">Closing Date:</label>
                <input class="form-text" type="date" id="closingDate" th:field="*{closingDate}" value="2023-12-31"
                    required />
            </div>
            <div class="create-post">
                <label class="form-label" for="description">Description (seen by applicants):</label>
                <br>
                <textarea class="description-area" th:field="*{description}" id="description"
                    required>Role Description</textarea>
            </div>
            <button class="btn" type="submit" name=saveInfoButton id="button">Create Post</button>
        </form>
    </div>
</body>

</html>