<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/elementstyling.css}">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/formstyle.css}">-->

    <script>
        function checkPassword() {
            let a = document.getElementById("nPassword").value;
            let b = document.getElementById("cPassword").value;

            if (a === b) {
                document.getElementById("changePassword").submit();
            } else {
                alert("Passwords do not match!")
                document.getElementById("Confirmation").value = "Passwords do not match";
            }
        }
    </script>
</head>

<body>
    <h2> Resetting Password</h2>
    <span id="Confirmation" style="color: blue;" th:text="${session.resultMessage}"></span>
    <!-- Use to display Error message-->
    <form id="userEmail" th:if="${session.resetShow == 'inputEmail'}" th:action="@{/resetPassword}" method="post">
        <div>
            <label for="username">Username:</label><br>
            <input type="text" id="username" name="username" placeholder="staff/student number" />
        </div>
        <button class="btn" type="submit">Next</button>
    </form>
    <br>
    <form id="verifyOTP" th:if="${session.resetShow == 'verifyOTP'}" th:action="@{/verifyOTP}" method="post">
        <div>
            <p style="text-align:center;">OTP was sent to the Email address: <span th:text="${session.toEmail}"></span>
            </p>
            <label for="otp">Enter the OTP sent to you:</label><br>
            <input type="number" id="otp" name="otp" placeholder="0000" />
        </div>
        <button class="btn" type="submit">Verify</button>
        <button class="btn" type="button"><a style="background-color: #16A085;" href="/resendOTP">Resend
                OTP</a></button>

    </form>
    <br>
    <form id="changePassword" th:if="${session.resetShow == 'passwords'}" th:action="@{/changePassword}" method="post">
        <div>
            <label for="nPassword">New Password:</label><br>
            <input type="password" id="nPassword" name="newPassword" required />
        </div>
        <div>
            <label for="cPassword">Confirm Password:</label><br>
            <input type="password" id="cPassword" name="confirmPassword" required />
        </div>
        <button class="btn" type="button" onclick="checkPassword()">Change</button>
    </form>
    <br>
    <br>
    <button type="button" style="width:150px; padding: 20px; background-color: lightgray;"><a
            href="/help/reset_password">Help</a></button>
    <button type="button" style="width:150px; padding: 20px; background-color: black;"><a
            style="background-color: black;" href="/exit">EXIT</a></button>


</body>

</html>